server_tokens off;
client_max_body_size 100m;
proxy_buffer_size 256k;
proxy_buffers 4 256k;
proxy_busy_buffers_size 256k;
proxy_hide_header X-Generator;
client_header_buffer_size 256k;
large_client_header_buffers 4 256k;